@font-face {
	font-family: 'Rubik';
	src: url('rubik-.woff2') format('woff2'),
		url('rubik-.woff') format('woff'),
		url('rubik-.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
