:root {
	--light-blue: #078DDB;
	--orange: #FF6C02;
	--dark-blue: #002765;
	--pale-orange: #FBF1EA;
	--line-height: 1.4rem;
	font-size: 26px;
	padding: 0 0.6rem 0 1rem;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, p, a, ul, ol, li, header, main, footer, body, section, div {
	font-family: "Rubik", sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	color: var(--dark-blue);
	line-height: var(--line-height);
}

main, footer, header {
	max-width: 30rem;
	width: 100%;
	margin: 0 auto;
}

header {
	text-align: left;
	margin-top: 1.785rem;
}

h1 {
	color: var(--orange);
	font-size: 5rem;
	font-weight: bold;
	line-height: calc(var(--line-height) * 3);
}

h1 span {
	color: var(--dark-blue);
	position: relative;
	top: 0.05rem;
}

#sub-line {
	font-weight: bold;
}

h2, h3, p {
	font-size: 1rem;
}

h2 {
	font-weight: bold;
	color: var(--light-blue);
}

h3 {
	font-weight: bold;
}

p {
	color: var(--dark-blue);
}

body {
	background-color: var(--pale-orange);
}

#info {
	position: relative;
	top: -1.35rem;
	text-align: right;
}

.meeting {
	margin-bottom: 0rem;
}

.meeting h3, .meeting p {
	display: inline;
}

.meeting h3:after {
	content: ':';
}

.meeting p:before {
	content: ' ';
}

.meeting a h3 {
	text-decoration: underline;
}

.meeting a {
	text-decoration: none;
}

section {
	padding-bottom: var(--line-height);
}

main {
	margin-top: 0.1rem;
}

